*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}

a{
    color: inherit;
}

div img{
    display: block;
    width: 100%;
}

.container{
    display: flex;
    max-width: 900px;
    margin: auto;
    width: 100%;
    min-width: 320px;
    padding: 10px 15px;
}

header{
    background-color: #122A57;
    height: 100px;
    max-width: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.menu-list{
    color: white;
    font-size: 14px;
}

header .menu-list{
    display: flex;
    width: 100%;
    max-width: 260px;
    justify-content: space-between;
    align-items: center;
}

header .menu{
    justify-content: space-between;
    align-content: center;
    width: 750px;
}

.apresentation{
    justify-content: space-around;
    align-items: center;
    display: flex;
    max-height: 100%;
    padding-top: 50px;
}

.apresentation .apresentation-text{
    margin-left: 80px;
}

.apresentation img{
    width: 380px;
    margin-right: 20px;
}

.apresentation-text{
    color: #122A57;
    text-align: left;
}

.apresentation-text h1{
font-size: 40px;
}

.btn{
    background-color: #122A57;
    color: white;
    text-align: center;
    border-radius: 30px;
    width: 130px;
    height: 35px;
    display: block;
    text-decoration: none;
    line-height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#about-us{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    align-content: center;
    max-width: 750px;
}

#about-us h2{
    font-size: 32px;
    color: #122A57;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

#about-us p{
    margin-bottom: 14px;
    font-size: 12px;
    text-align: left;
    color: #122A57;
}

#about-us img{
    width: 350px;
    margin-right: 50px;
}

/* adicionando um pseudo-elemento, em barra */
#about-us h2::before{
    content: "";
    height: 36px;
    width: 5px;
    background-color: #122A57;
    position: relative;
    margin-right: 10px;
}

.container-service{
    background-color: #122A57;
}

#service{
    flex-direction: column;
    display: flex;
    padding: 30px 0 50px 0;
    color: white;
    max-width: 780px;
    padding: 60px;
}

.list-service{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 50px 0 0 0;
    text-align: center;
}

#service img{
    padding-bottom: 20px;
    width: 120px;
}

.list-service a{
   background-color: white;
   color: #122A57;
   border-radius: 30px;
   height: 40px;
   width: 120px;
   text-align: center;
   line-height: 40px;
   text-decoration: none;
   display: block;
   margin-top: 20px;
   margin-bottom: 20px;
   font-size: 14px;
   font-weight: bold;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#plans{
    flex-direction: column;
    height: 500px;
    max-width: 780px;
    padding: 60px;
}

.plans{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.item-plan{
    padding: 30px 20px 10px 20px;
    border: 4px solid #122A57;
    margin: 25px;
    width: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}

.item-plan h3{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* adicionando um pseudo-elemento, em barra */
.item-plan h3::after{
    content: "";
    background-color: #122A57;
    width: 100%;
    height: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 3px;
    margin: 10px 0 30px 0px;
}

.item-plan a{
    align-self: center;
}

.item-plan ul{
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.item-plan ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    line-height: 180%;
}

.item-plan ul li::before{
    content: "";
    width: 7px;
    height: 7px;
    background-color: #122A57;
    margin-right: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 3px;
}

footer .footer{

    justify-content: space-between;
    font-size: 12px;
}

footer{
    background-color: #122A57;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
}

/* mobile */
@media(max-width: 750px){
    .container{
        flex-direction: column;
        padding: 20px;
        align-content: center;
    }

    .apresentation{
        flex-direction: column-reverse;
    }

    .apresentation .apresentation-text{
        width: 100%;
    }

    .apresentation img{
        width: 250px;
        display: flex;
        max-width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        padding-right: 400px;
        padding-left: 40px;
        padding-bottom: 50px;
    }

    #about-us{
        flex-direction: column-reverse;
        max-width: 150px;
        padding-right: 100px;
    }

    #about-us img{
        width: 250px;
        max-width: 100%;
        margin: auto;
        padding-right: 120px;
    }

    .list-service{
        flex-direction: column;
        text-align: justify;
    }

    #service .list-service{
        max-height: 900px;
    }

    #service img{
        width: 80px;
        padding-left: 18px;
    }

    #service a{
        width: 23%;
    }

    .plans{
        flex-direction: column;
        align-items: flex-start;
    }

    #plans{
        height: 1200px;
    }